fastapi==0.115.6
uvicorn[standard]==0.33.0
python-multipart==0.0.20
numpy==1.23.5
pororo==0.4.2
fairseq==0.10.2
transformers==4.19.2
sentence-transformers==2.2.2
huggingface-hub==0.10.1
opencv-python
scikit-image
